<h3>User personal information</h3>
<form>
    <table>
        <tbody>
            <tr>
                <td>

                    First Name:
                </td>
                <td>
                    <input type="firstname" name="firstname" placeholder="Add your First Name"/>
                </td>
                <td>
                    Last Name:</td>
                <td>
                    <input type="lastname" name="lastname" placeholder="Add your Last Name"/>

                </td>
            </tr>

            <tr>
                <td>
                    Gender:
                </td>
              
                <td colspan="3">
                    <input type="radio" name="gender" value="male" />Male
                    <input type="radio" name="gender" value="female" />Female
                    <input type="radio" name="gender" value="Prefer not to Respond" />Prefer not to Respond
                <td />

<tr/>
            <tr>
                <td>
            Email Address:
                </td>

                <td>
            <input type="email" name="email" placeholder="Add your Email Address" />

                </td>
            <tr/>

            <tr>
                <td>
                    Country of Residence:
                </td>
                <td colspan="3">

                    <input list="Countries">

                    <datalist id="Countries">
                        <option value="USA">Internet Explorer</option>
                        <option value="Europe">Europe</option>
                        <option value="China">China</option>
                        <option value="India">India</option>
                    </datalist>
                </td>
                <tr/>

                <tr>
                    <td colspan="4">
                        <button>Update User Information</button>
                    </td>
                </tr>

</tbody>
    </table>
    </form>


    
