<h3>User personal information</h3>

<tr>
    <td>
        <form>
            First Name:<input type="firstname" name="firstname" />
        </form>

        <form>
            Last Name:<input type="lastname" name="lastname" />
        </form>
    </td>
</tr>
  
<form>
    Gender:
    <input type="radio" name="gender" value="male" />Male
    <input type="radio" name="gender" value="female" />Female
    <input type="radio" name="gender" value="Prefer not to Respond" />Prefer not to Respond<br />

    <form>
        Email Address:<input type="email" name="email" />
    </form>

    <form …>
       Country of Residence:
        <input list="Countries">

        <datalist id="Countries">
            <option value="USA">Internet Explorer</option>
            <option value="Europe">Firefox</option>
            <option value="China">Chrome</option>
            <option value="India">Opera</option>
        </datalist>
    </form>


    <button>Update User Information</button>


</form>



<script src="~/js/Register.js" type="text/javascript"></script>
