@{
    ViewData["Title"] = "Login";
}


<div id="maindiv" class="container">
    <form id="MainForm">
        <table>
            <tbody>
                <tr>
                    <td>
                        <label>User:</label>
                    </td>
                    <td>
                        <input type="text" name="User" id="UserName"
                               placeholder="Type user name" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Password:</label>
                    </td>
                    <td>
                        <input type="text" name="Password" id="Password"
                               placeholder="Type password" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button id="LogUser">Log In</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>





<script src="~/js/Login.js" type="text/javascript"></script>


