@{
    ViewData["Title"] = "Registration";
}


<div id="maindiv" class="container">
</div>

<br>

<div id="div2" class="container">
    <table>
        <tbody id="Image">
            <tr>
            </tr>

        </tbody>
    </table>
</div>

<br>

<div id="div3" class="container">
</div>

<div id="div4" class="container">
</div>


<footer>
</footer>
